body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* NAVBAR */
.navbar-container {
  min-height: 12vh;
  max-height: 12vh;
  background-color: #00510f;
  background: -webkit-linear-gradient(#17882c, #00510f);
  background: linear-gradient(#17882c, #00510f);
  color: #fff;
  display: grid;
  grid-template-columns: 20% 35% 25% 20%;
  grid-template-rows: 7% 15% 68% 10%;
}

#iftm-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  font-size: 11px;
}

#iftm-description {
  display: none;
}

#iftm-ministry {
  display: none;
}

#iftm-name {
  margin-left: 10%;
  font-size: 40px;
  font-weight: bold;
}

#user-box-container {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

#user-box {
  margin-top: 10%;
  margin-left: 15%;
  background-color: lightgray;
  height: 80%;
  width: 70%;
  border-radius: 50%;
}

#user-box img {
  margin-top: 15%;
  margin-left: 20%;
  height: 70%;
  width: 60%;
}

#user-input-box {
  margin-top: 48%;
  margin-left: 50%;
  min-height: 45vh;
  max-height: 60vh;
  min-width: 62.5vw;
  max-width: 62.5vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 2%;
  background-color: lightgray;
  display: none;
}

#user-input-box button {
  margin-top: 5%;
}

#user-input-box label {
  color: black;
}

@media (min-width: 768px) {
  #user-box {
    margin-top: 5%;
    margin-left: 45%;
    width: 40%;
  }

  #user-input-box {
    margin-top: 22%;
  }
}

@media (min-width: 1024px) {
  #user-box {
    margin-top: 3%;
    margin-left: 65%;
    width: 30%;
    cursor: pointer;
  }

  #user-input-box {
    margin-top: 17%;
    margin-left: 135%;
    min-height: 45vh;
    max-height: 60vh;
    min-width: 32.5vw;
    max-width: 32.5vw;
  }
}

/* SIDEBAR */
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar-header {
  min-width: 100vw;
  min-height: 7%;
  max-height: 7%;
  position: fixed;
  bottom: 0;
  background-color: #00510f;
  background: -webkit-linear-gradient(#17882c, #00510f);
  background: linear-gradient(#17882c, #00510f);
  color: #fff;
}

#sidebar {
  position: fixed;
  bottom: 7%;
  min-width: 100vw;
  min-height: 30%;
  max-height: 100%;
  background-color: #00510f;
  background: -webkit-linear-gradient(#17882c, #00510f);
  background: linear-gradient(#17882c, #00510f);
  color: #fff;
  transition-timing-function: ease;
  /* transition: all 0.3s; */
  display: none;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a {
  color: #fff;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.6em;
  display: block;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #00510f;
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #00510f;
}

ul ul a {
  font-size: 0.6em !important;
  padding-left: 30px !important;
  color: white;
}

ul li a {
  color: white;
}

.display-none {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
  }

  #sidebar {
    top: 12vh;
    min-width: 20vw;
    max-width: 20vw;
    min-height: 60vh;
    max-height: 82vh;
    display: block;
  }

  #sidebar-header {
    display: none;
  }

  #sidebar ul li a {
    padding: 10px;
    font-size: 0.9em;
    display: block;
  }

  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    color: white;
  }
}

.footer-container {
  display: none;
}

@media (min-width: 1024px) {
  .footer-container {
    display: grid;
    background-color: white;
    min-width: 100%;
    min-height: 6vh;
    max-height: 6vh;
    position: fixed;
    bottom: 0;
    background-color: #00420c;
  }

  .footer-text {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 13px;
  }
}
