/* .navbar-container {
  height: 150px;
  background-color: #00510f;
  background: -webkit-linear-gradient(#17882c, #00510f);
  background: linear-gradient(#17882c, #00510f);
  color: #fff;
  display: grid;
  grid-template-columns: 20% 35% 30% 15%;
  grid-template-rows: 7% 15% 68% 10%;
}

.iftm-title {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  font-size: 11px;
}

.iftm-name {
  font-size: 40px;
  font-weight: bold;
}

.login-inputs {
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 13px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.margin-span {
  margin-left: 155px;
}

.margin-input {
  margin-left: 20px;
} */
